@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_red{
    background-color: #F7444E;
}

.bg_nude{
    background-color: #EBECEB;
}

.bg_dark{
    background-color: #000000;
}

.bg_blue{
    background-color: #78BCC4;
}

.bg_darkBlue{
    background-color: #002C3E;
}

.tx_blue {
    color: #78BCC4; 
  }
  

